{% load string_filters %}

<div class="board h-100 overflow-x-hidden overflow-y-auto">
  {% if board_items|length > 1 %}
    <h3 class="text-center text-uppercase">
      <span class="material-icons">{{ current.icon }}</span>
    </h3>

    <div class="board__items d-flex flex-wrap align-items-stretch">
      {% for item in board_items %}
        {% include 'components/card.html' with item=item %}
      {% endfor %}
    </div>
  {% else %}
    <h3 class="text-center text-uppercase">
      <span class="material-icons">{{ current.icon }}</span>
      {{ current.get_title|space }}
      <span class="material-icons">{{ current.icon }}</span>
    </h3>

    <div class="board__item-content d-flex justify-content-center align-items-center">
      {% include 'components/card.html' with item=current size='lg' %}
    </div>
  {% endif %}
</div>

