<div class="card mb-4">
  <div class="card-body">
    <h3 class="mb-4">Information</h3>

    {% for item in items %}
      <hr>
      <div class="row">
        <div class="col-sm-3 d-flex align-items-center">
          <i class="fa {{ item.icon }}  fa-lg mx-3" aria-hidden="true" style="color: {{ item.icon_color }}"></i>
          <p class="mb-0">{{ item.label }}</p>
        </div>
        <div class="col-sm-8">
          <p class="text-muted mb-0">{{ item.value }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
