{% extends 'base.html' %}
{% load static %}

{% block menu %}
  {% include 'components/menu.html' %}
{% endblock %}

{% block content %}
  <div class="description container my-3">
    <div class="description row">
      <img class="col p-0" src="{% static 'placeholder-image.png' %}" alt="photo" width="400px" height="400px">
      <div class="description col">
        <h1>Сайко Татьяна</h1>
        <h3>Курс: Разработка програмного обеспечения</h3>
        <h3>Экзаменационная работа</h3>
        <div class="technologies">
          <b class="m-0">Технологии:</b>
          <p class="m-0">- Django / Python</p>
          <p class="m-0">- Virtualenv</p>
          <p class="m-0">- Git</p>
          <p class="m-0">- PyCharm</p>
          <p class="m-0">- Html</p>
          <p class="m-0">- Bootstrap + google icons</p>
        </div>
      </div>
    </div>
    <div class="additional-description row">
      Описание: ...
    </div>
  </div>


{% endblock %}
