{% extends 'pages/page-markup.html' %}
{% load static %}

{% block menu %}
  {% include 'components/menu.html' %}
{% endblock %}

{% block content %}
  <section class="h-100" style="overflow-x: hidden;">
    <div class="container py-5">
      <h1 class="text-center">Profile</h1>
      <div class="row">
        <div class="col-lg-4">
          {% include 'components/user-card.html' %}

          {% include 'components/icon-list.html' with title='Contacts' items=contacts %}
        </div>

        <div class="col-lg-8">
          {% include 'components/user-info.html' with items=user_info %}

          <div class="row">
            {% include 'components/progress-list.html' with title='Technologies' items=technologies %}
            {% include 'components/progress-list.html' with title='Tools' items=tools %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
