{% extends 'base.html' %}

{% block page %}
  <!-- Section: Design Block -->
  <section class="h-100" style="background-color: hsl(0, 0%, 96%)">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start h-100 d-flex align-items-center">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              The best offer <br />
              <span class="text-primary">for your business</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eveniet, itaque accusantium odio, soluta, corrupti aliquam
              quibusdam tempora at cupiditate quis eum maiores libero
              veritatis? Dicta facilis sint aliquid ipsum atque?
            </p>
          </div>

          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form method="post">
                  {% csrf_token %}

                  <h1>Account</h1>

                  {% for field in form %}
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="{{ field.id_for_label }}">{{ field.name|title }}</label>
                      <input type="text" name="{{ field.name }}" required id="{{ field.id_for_label }}" class="form-control"/>
                      {{ field.errors }}
                    </div>
                  {% endfor %}

                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Sign in
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
{% endblock %}
